/* ========= FONT ========= */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* ========= TYPOGRAPHY ========= */
body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.t-title {
  font-size: 6vw;
}

.t-subtitle {
  font-size: 3vw;
}

.t-desc {
  font-size: 1.5vw;
}

.t-para {
  font-size: 1.2vw;
}

@media screen and (max-width: 575.98px) {
  .t-title {
    font-size: 10vw;
  }

  .t-subtitle {
    font-size: 4.5vw;
  }

  .t-desc {
    font-size: 3.5vw;
  }

  .t-para {
    font-size: 3.5vw;
  }
}

.t-bold {
  font-weight: 700;
}

.t-light {
  font-weight: 300;
}

.t-extralight {
  font-weight: 200;
}

/* ========= VIEWS CSS ========= */
.view {
  display: flex;
  flex-flow: column;
  height: 100vh;
  overflow: auto;
}

/* ========= BUTTONS CUSTOM CSS ========= */
.buttonsGroup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 0 5px 0 5px;
  isolation: isolate;
}

/* ========= SIDEBAR CUSTOM CSS ========= */
.sidebar {
  position: fixed;
  top: 0%;
  right: 0%;
  z-index: 300;
  height: 100vh;
  width: 0;
  overflow-x: hidden;
  background-color: #f8f8f8;
}

/* ========= HOME CAROUSEL CUSTOM CSS ========= */

/* Fix for flickering carousel */
.carousel-inner .carousel-item {
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  position: absolute;
}

.carousel-inner .carousel-item:first-of-type {
  position: relative;
}

.carousel-inner .active {
  opacity: 1;
}
/* End of fix */

.carousel {
  height: 100%;
}

.carousel-inner {
  height: 100%;
}

.carousel-img {
  object-fit: cover;
  object-position: center left;
  width: 100vw;
  height: 100%;
}

.carousel-caption {
  top: 45%;
  z-index: 100;
}

/* ========= FORM CUSTOM CSS ========= */
.form-control {
  border-radius: 10px;
}
