/* ========= FONT ========= */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* ========= TYPOGRAPHY ========= */
body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.t-title {
  font-size: 6vw;
}

.t-subtitle {
  font-size: 3vw;
}

.t-desc {
  font-size: 1.5vw;
}

.t-para {
  font-size: 1.2vw;
}

@media screen and (max-width: 575.98px) {
  .t-title {
    font-size: 10vw;
  }

  .t-subtitle {
    font-size: 4.5vw;
  }

  .t-desc {
    font-size: 3.5vw;
  }

  .t-para {
    font-size: 3.5vw;
  }
}

.t-bold {
  font-weight: 700;
}

.t-light {
  font-weight: 300;
}

.t-extralight {
  font-weight: 200;
}

/* ========= VIEWS CSS ========= */
.view {
  margin-top: auto;
  margin-bottom: auto;
}

/* ========= BUTTONS CUSTOM CSS ========= */
.buttonsGroup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 0 5px 0 5px;
  isolation: isolate;
}

/* ========= SIDEBAR CUSTOM CSS ========= */
.sidebar {
  position: fixed;
  top: 0%;
  right: 0%;
  z-index: 800;
  height: 100vh;
  width: 0;
  overflow-x: hidden;
  background-color: #f8f8f8;
}

.buttonsSidebar {
  width: 300px !important;
}

/* ========= ASIDENAV CUSTOM CSS ========= */
#navAside {
  height: 100%;
  width: 75px;
  background-color: #012f3f;
  overflow: hidden;
}

.iconActive {
  background-color: #227c9d;
}

/* ========= HOME CAROUSEL CUSTOM CSS ========= */

/* Fix for flickering carousel */
.carousel-inner .carousel-item {
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  position: absolute;
}

.carousel-inner .carousel-item:first-of-type {
  position: relative;
}

.carousel-inner .active {
  opacity: 1;
}
/* End of fix */

.carousel {
  height: 100%;
}

.carousel-inner {
  height: 100%;
}

.carousel-img {
  object-fit: cover;
  object-position: center center;
  width: 100vw;
  height: 100%;
}

@media screen and (max-width: 992.98px) {
  .carousel-img {
    object-position: center center;
  }

  .right-image {
    object-position: center right;
    
  }
}

.carousel-caption {
  top: 45%;
  z-index: 100;
}

/* ========= FORM CUSTOM CSS ========= */
.form-control {
  border-radius: 10px;
}

/* ========= CREDIT CARD CUSTOM CSS ========= */
.credit-card .card-body {
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23227c9d' fill-opacity='0.25'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* ========= DRIVING LICENSE CARD CUSTOM CSS ========= */
.driving-license-card- {
  background-color: #fcf0fc;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23f995ff' fill-opacity='0.17' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.driving-license-card {
  background-color: rgb(255, 255, 255);
  background-image: url("https://webartdevelopers.com/blog/wp-content/uploads/2019/02/CSS-Background-Animation-1.gif");
}
@media screen and (min-width: 992.98px) {
  .scrollable {
    overflow: auto;
    height: 60vh;
  }
}

#riepilogo-card-mobile {
  background-color: #012f3f;
  color: white;
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100px;
  border-radius: 0px !important;
  transition: 0.2s;
}

@media screen and (max-width: 992.98px) {
  .mb-100 {
    margin-bottom: 100px;
  }
}
