// CUSTOM PALETTE
$primary: #227c9d;
$primary-dark: #012f3f;
$secondary: #6c757d;
$success: #00bfa6;
$danger: #fe6d73;
$warning: #ffcb77;
$info: #0dcaf0;
$light: #f8f8f8;
$dark: #080808;

// CUSTOM THEME TO BOOTSTRAP COMPONENTS
.btn {
    border-radius: 25px !important;
    font-weight: 700 !important;
}

.btn-success, .btn-danger {
    color: white !important;
}

.progress-bar{
    border-radius: 25px !important; 
}

.card{
    border-radius: 20px !important;
    padding: 20px;
}

.card-header{
    border-radius: 20px 20px 0px 0px !important
}

.bg-primary-dark{
    background-color: $primary-dark !important;
}

.text-primary-dark{
    color: $primary-dark;
}

// BOOTSTRAP THEME
@import "../node_modules/bootstrap/scss/bootstrap.scss";